div#audio_player_box {
    width:550px;
    background:#33001A;
    margin:20px auto;
}
div#audio_controls_bar {
    background:#33001A;
    padding:5px;
    color:#CCC;
    font:11px Verdana;
    border-radius:7px;
}
button#playpausebtn {
    background:url(play.png);
    border:none;
    width:19px;
    height:17px;
    cursor:pointer;
    opacity:0.5;
    margin-bottom: 5px;
}
button#playpausebtn:hover { opacity:1; }
input#seekslider { width:180px; }
input#volumeslider { width: 100px;}
input[type='range'] {
    -webkit-appearance: none !important;
    background: #000;
    border:#666 1px solid;
    height:4px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: #FFF;
    height:15px;
    width:15px;
    border-radius:100%;
    cursor:pointer;
}